@tailwind base;
@tailwind components;
@tailwind utilities;
@import '/src/css/content.css';

body {
  margin: 0;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#sidebarl {

  height: calc(100vh - 80px);
}


@layer utilities {
  .prose {
    max-width: 100% !important;
  }

}

img {
  user-select: none;
}